<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105221082816-us52nc776i78103d54ob8ljh7pc9at4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105221082816-us52nc776i78103d54ob8ljh7pc9at4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105221082816-88a53c3v3hdbjjn6fl14angtqs2c1b1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuhgem4a1tvzoyxm_GV9ZeyndYX1p-QAI</string>
	<key>GCM_SENDER_ID</key>
	<string>105221082816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.birlingo</string>
	<key>PROJECT_ID</key>
	<string>birlingo-9e2a2</string>
	<key>STORAGE_BUCKET</key>
	<string>birlingo-9e2a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105221082816:ios:d4d67ec94ce6f4ab78e725</string>
	<key>DATABASE_URL</key>
	<string>https://birlingo-9e2a2.firebaseio.com</string>
</dict>
</plist>